[Unit]
Description=Java Shipping Service

[Service]
User=shipping
ExecStart=/usr/bin/nohup java -jar /home/shipping/shipping/shipping.jar  
Restart=always
RestartSec=10
StandardOutput=append:/var/log/robo-shop/shipping.log
StandardError=append:/var/log/robo-shop/shipping.log
SyslogIdentifier=shipping
[Install]
WantedBy=multi-user.target
